@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* 구글 폰트 쓰는법
font-family: 'Black Han Sans', sans-serif;
font-family: 'Do Hyeon', sans-serif;
font-family: 'Hi Melody', cursive;
font-family: 'Jua', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Nanum Pen Script', cursive;
font-family: 'Sunflower', sans-serif;
*/

/* 노말라이즈 */
body, ul, li, h1 {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

/* 라이브러리 */
.border-red {
	border: 3px solid red;
}

.border-blue {
	border: 3px solid blue;
}

.height-100p {
	height: 100%;
}

.flex {
	display: flex;
}

.flex-ai-c {
	align-items: center;
}

.flex-jc-sb {
	justify-content: space-between;
}

.flex-jc-c {
	justify-content: center;
}

.flex-jc-sa {
	justify-content: space-around;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.ta-c {
	text-align: center;
}

.absolute-center {
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
}

.absolute-middle {
	position: absolute;
	top: 50%;
	transform: translatey(-50%);
}

.fontsize-4rem {
	font-size: 4rem;
}

body {
	margin: 0;
}

.toast-youtube-embed {
	background-color: red;
}

.toast-youtube-embed {
	position: relative;
}

.ratio-16-9::after {
	content: "";
	display: block;
	padding-top: 56.25%;
}

.ratio-1-1::after {
	content: "";
	display: block;
	padding-top: 100%;
}

.relative {
	position: relative;
}

.abs-full {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* 라이브러리 끝 */

/* 배경 */
html {
	background-image: url('/blog/resource/ETC/pc_campfireimg_1920x1080.jpg');
	background-color: black;
	background-repeat: no-repeat;
	background-size: cover;
}

/* 메인 로고 */
.main-logo {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	font-size: 4rem;
	justify-content: flex-start;
	align-items: center;
	background: rgba(0, 0, 0, 0);
	height: 100px;
	width: 100px;
}

.main-logo>div {
	border-radius: 40px;
	position: absolute;
	height: 80px;
	width: 80px;
	top: 10px;
	left: 10px;
	background-color: #F3F781;
	z-index: 1;
}

.main-logo a {
	z-index: 2;
	height: 90px;
	width: 100px;
	text-align: center;
	color: #F3F781;
	transition: color 1s;
}

.main-logo a:hover {
	color: orangered;
}

/* 탑바 */
@media ( max-width : 799px ) {
	.visible-md-up {
		display: none;
		visible: hidden;
	}
}

@media ( min-width : 800px ) {
	.visible-sm-down {
		display: none;
		visible: hidden;
	}
}

.top-bar {
	left: 8%;
	top: 10%;
	position: fixed;
}

.top-bar .menu-box-1 {
	height: 100%;
}

.top-bar .menu-box-1>ul {
	display: block;
	border-left: 2px solid blue;
}

.top-bar .menu-box-1>ul>li>a {
	background-color: black;
	background: rgba(0, 0, 0, 0.7);
	font-family: 'Sunflower', sans-serif;
	font-size: 1.2rem;
	color: white;
	padding: 0 10px;
	display: flex;
	width: 90px;
	height: 60px;
	align-items: center;
	justify-content: center;
	/* transition: width .5s; */
	box-sizing: border-box;
}

.top-bar .menu-box-1>ul>li:hover>a {
	background-color: black;
	background: rgba(0, 0, 0, 0.8);
	color: orangered;
	/* width: 120px; */
}
/* ul ul 시작 */
/*
.top-bar .menu-box-1 > ul ul {
	position: relative;
	border-left: 2px solid blue;
}
.top-bar .menu-box-1 ul ul > li > a {
	display: none;
	align-items: center;
	justify-content: flex-end;
	background-color: black;
	background: rgba(0, 0, 0, 0.5);
	font-family: 'Sunflower', sans-serif;
	font-size: 1.1rem;
	color: white;
	padding: 0 10px;
	width: 100px;
	height: 0;
	transition: width .5s;
	box-sizing: border-box;
}
.top-bar .menu-box-1 ul > li:hover > ul > li > a {
	display: flex;
	height: 50px;
}
.top-bar .menu-box-1 ul ul > li:hover > a {
	display: block;
	background-color: black;
	background: rgba(0, 0, 0, 0.8);
	color: orangered;
	width: 130px;
	height: 80px;
}
*/

.top-bar .menu-box-1 > ul ul > li > a {
	position: absolute;
	display: flex;
	transition: width .5s, background-color .5s, top .5s ease .3s, opacity .5s, visibility .5s;
	top: 0;
	left: 100%;
	opacity: 0;
	visibility: hidden;
	align-items: center;
	justify-content: center;
	background-color: black;
	background: rgba(0, 0, 0, 0.7);
	font-family: 'Sunflower', sans-serif;
	font-size: 1.1rem;
	color: white;
	padding: 0 10px;
	width: 80px;
	height: 60px;
	border-left: 2px solid skyblue;
}

.top-bar .menu-box-1 > ul> li:hover > ul > li > a {
	opacity: 1;
	visibility: visible;
}
.top-bar .menu-box-1 > ul > li:hover > ul > li:nth-child(1) > a {
	top: 0;
	z-index: 1;
}
.top-bar .menu-box-1 > ul > li:hover > ul > li:nth-child(2) > a {
	top: 60px;
}
.top-bar .menu-box-1 > ul > li:hover > ul > li:nth-child(3) > a {
	top: 120px;
}
.top-bar .menu-box-1 > ul > li:hover > ul > li:nth-child(4) > a {
	top: 180px;
}
.top-bar .menu-box-1 > ul > li:hover > ul > li:nth-child(5) > a {
	top: 240px;
}
.top-bar .menu-box-1 > ul > li:hover > ul > li:nth-child(6) > a {
	top: 300px;
}
.top-bar .menu-box-1 > ul > li:hover > ul > li:nth-child(7) > a {
	top: 360px;
}
.top-bar .menu-box-1 > ul > li:hover > ul > li:nth-child(8) > a {
	top: 420px;
}

.top-bar .menu-box-1 ul ul > li:hover > a {
	display: flex;
	background-color: black;
	color: orangered;
	width: 100px;
}

/* 모바일 배경 */
.mobile-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.mobile-background>img {
	width: 100%;
	height: 100%;
}

/* 모바일 탑바 */
.mobile-top-bar {
	height: 150px;
	background-color: black;
	background: rgba(0, 0, 0, 0.75);
	position: fixed;
	color: orangered;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;;
	font-size: 1.5rem;
}

.mobile-top-bar .btn-toggle-mobile-side-bar {
	margin: 0 10px;
}

.btn-toggle-mobile-side-bar {
	width: 30px;
	height: 30px;
	top: 10px;
	position: relative;
}

.btn-toggle-mobile-side-bar>div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 20%;
	background-color: #FE9A2E;
	transition: top .3s .3s, transform .3s, opacity .2s .3s;
}

.btn-toggle-mobile-side-bar>div:nth-child(2) {
	top: 40%;
}

.btn-toggle-mobile-side-bar>div:nth-child(3) {
	top: 80%;
}

.btn-toggle-mobile-side-bar.active>div {
	top: 40%;
	transition: top .3s, transform .3s .3s, opacity .2s 0s;
}

.btn-toggle-mobile-side-bar.active>div:nth-child(1) {
	transform: rotate(45deg);
}

.btn-toggle-mobile-side-bar.active>div:nth-child(3) {
	top: 40%;
	transform: rotate(-45deg);
}

.btn-toggle-mobile-side-bar.active>div:nth-child(2) {
	opacity: 0;
}

/* 모바일 사이드바 */
.mobile-side-bar {
	position: fixed;
	background-color: black;;
	background: rgba(0, 0, 0, 0.75);
	color: #F3F781;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.5s, opacity 0.5s;
}

.mobile-side-bar.active {
	visibility: visible;
	opacity: 1;
}

.mobile-side-bar>.menu-box ul>li>a {
	display: block;
	font-size: 1.5rem;
	text-align: center;
	font-family: 'Sunflower', sans-serif;
	padding: 10px;
}

.mobile-side-bar>.menu-box ul>li:hover>a {
	background-color: black;
	background: rgba(255, 255, 255, 0.2);
}

.mobile-side-bar>.menu-box ul ul>li>a {
	display: none;
}

.mobile-side-bar>.menu-box ul>li.active>ul>li>a {
	display: block;
	background-color: black;
	background: rgba(255, 255, 255, 0.2);
}

.mobile-side-bar>.menu-box ul>li.active>ul>li:hover>a {
	background-color: black;
	background: rgba(0, 0, 0, 0.75);
}

.mobile-side-bar .menu-box ul>li>a:not (:only-child )::after {
	content: "[+]";
}

.mobile-side-bar .menu-box ul>li.active>a:not (:only-child )::after {
	content: "[-]";
}

/* 리스트 */
.article-list-box {
	background-color: black;
	background: rgba(0, 0, 0, 0);
	display: block;
	width: 60%;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 10px;
}

.article-list-box .total-article-box1 {
	background-color: black;
	background: rgba(0, 0, 0, 0.75);
	padding: 15px;
	border-radius: 10px;
}

.article-list-box .total-article-box1>.total-article-box2 {
	background-color: black;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	border-radius: 10px;
}

.article-list-box .total-article-box1>.total-article-box2>span {
	display: block;
	color: white;
	font-size: 2rem;
	padding: 5px;
	font-family: 'Sunflower', sans-serif;
}

.article-list-box .total-article-box1>.total-article-box2>span>i {
	color: red;
	padding: 5px;
	font-size: 2.5rem;
}

.article-list-box .article-list-body {
	background-color: black;
	background: rgba(0, 0, 0, 0.75);
	height: 500px;
	width: 100%;
}

.article-list-box .article-list-body li {
	display: flex;
	width: 100%;
	background-color: black;
	background: rgba(0, 0, 0, 0);
}

.article-list-box .article-list-body li:hover {
	background-color: black;
	background: rgba(0, 0, 0, 0.8);
}

.article-list-box .article-list-body li>div {
	padding: 8px;
	color: white;
}

.article-list-box .article-list-body li>div:first-child {
	width: 5%;
	text-align: center;
	color: orangered;
	font-size: 1.6rem;
}

.article-list-box .article-list-body li>div:nth-child(2) {
	width: 5%;
	text-align: center;
	padding: 10px;
	font-size: 1.2rem;
}

.article-list-box .article-list-body li>div:nth-child(3) {
	width: 20%;
	text-align: center;
	padding: 10px;
	font-size: 1.3rem;
	font-family: 'Sunflower', sans-serif;
}

.article-list-box .article-list-body li>div:nth-child(4) {
	width: 100%;
	padding: 10px;
	font-size: 1.3rem;
	font-family: 'Sunflower', sans-serif;
	overflow: hidden; /* : 넓이가 70px를 넒어서는 내용에 대해서는 보이지 않게 처리함 */
	text-overflow: ellipsis; /* 글자가 넓이 70px를 넘을 경우 생략부호를 표시함 */
	white-space: nowrap;
}

.article-list-box .article-list-body li>div:last-child {
	text-align: center;
	width: 40%;
	padding: 10px;
	font-size: 1.2rem;
	overflow: hidden; /* : 넓이가 70px를 넒어서는 내용에 대해서는 보이지 않게 처리함 */
	text-overflow: ellipsis; /* 글자가 넓이 70px를 넘을 경우 생략부호를 표시함 */
	white-space: nowrap;
}

.article-list-box .page-box>ul>li {
	text-align: center;
	margin: 5px;
	background-color: black;
	background: rgba(0, 0, 0, 0.75);
	height: 50px;
	width: 50px;
	border-radius: 3px;
}

.article-list-box .page-box>ul>li>a {
	display: block;
	padding: 10px;
	font-size: 1.4rem;
	color: white;
}

.article-list-box .page-box>ul>li:hover {
	background-color: black;
	background: rgba(0, 0, 0, 0.8);
}

.article-list-box .page-box>ul>li:hover>a {
	color: orangered;
	text-decoration: underline;
}

.article-list-box .page-box>ul>li.current>a {
	color: orangered;
}

/* 디테일 */
.detail-box .con {
	background-color: black;
	background: rgba(0, 0, 0, 0.5);
	display: block;
	width: 40%;
	position: absolute;
	top: 10%;
	left: 38%;
	transform: translateX(-50%);
	border-radius: 10px;
}

.detail-box .detail-title {
	display: block;
	height: 70px;
	padding: 5px;
	border-radius: 10px;
}

.detail-box .detail-title .detail-title-box {
	display: flex;
	background-color: black;
	background: rgba(0, 0, 0, 1);
	margin: 0 30px;
	margin-top: 10px;
	border-radius: 10px;
}

.detail-box .detail-title>.detail-title-box>i {
	display: flex;
	font-size: 2.5rem;
	padding: 5px;
	margin: 0 8px;
	color: orangered;
}

.detail-box .detail-title>.detail-title-box>span {
	display: flex;
	width: 85%;
	margin: 10px;
	font-size: 1.5rem;
	color: white;
	font-family: 'Sunflower', sans-serif;
}

.detail-box .detail-title>.detail-title-box>.back-list-btn {
	display: flex;
	width: 8%;
	padding: 5px;
	margin: 5px;
	justify-content: flex-end;
}

.detail-box .detail-body {
	display: block;
	padding: 20px;
	margin: 0 30px;
	background-color: #2E2E2E;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}

.detail-box .detail-body .detail-body-box {
	display: block;
	height: 600px;
	background-color: #E0F2F7;
	overflow: auto;
	padding: 20px;
	border-radius: 10px;
}

.detail-box .detail-body .bottom-box {
	display: flex;
	margin-bottom: 5px;
	justify-content: space-between;
	font-family: 'Sunflower', sans-serif;
	flex-wrap: wrap;
	color: white;
}
.detail-box .detail-body .bottom-box > span {
	width: 50%;
}

.detail-box .detail-body .buttons {
	display: flex;
	justify-content: center;
	margin: 10px;
}
.detail-box .detail-body .buttons > div {
	margin: 0 20px;
	border: 1px solid skyblue;
	padding: 5px;
	color: white;
}

/* 디테일 댓글 박스 */
.reply-box {
	background-color: black;
	background: rgba(0, 0, 0, 0.5);
	display: block;
	width: 30%;
	position: absolute;
	top: 10%;
	left: 75%;
	transform: translateX(-50%);
	border-radius: 10px;
	padding: 20px;
}

.reply-box > .reply-list-box > .reply-list ul li {
	background-color: black;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	display: flex;
	flex-wrap : wrap;
	font-family: 'Sunflower', sans-serif;
	color: white;
	border-bottom: 1px solid white;
	margin-top: 10px;
}
.reply-box > .reply-list-box > .reply-list > ul > li > div {
	padding: 10px;
	border-radius: 5px;
}
.reply-box > .reply-list-box > .reply-list .writer {
	width: 55%;
	border-bottom: 1px solid grey;
}
.reply-box > .reply-list-box > .reply-list .replyRegdate {
	width: 35%;
	border-bottom: 1px solid grey;
}
.reply-box > .reply-list-box > .reply-list .replyBody {
	width: 100%;
}

.reply-box > .reply-list-box > .write-reply {
	diplay: block;
	padding : 20px;
	background-color: black;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	border: 1px solid grey;
}
.reply-box > .reply-list-box > .write-reply > form > textarea {
	width: 100%;
	height: 60px;
	resize: none;
}

.reply-box > .reply-list-box > .page-box > ul > li.current>a {
	color: orangered;
}

.reply-box > .reply-list-box > .reply-list > ul > li > .update-reply {
	display: none;
	margin: 3px;
	width: 95%;
}

.reply-box > .reply-list-box > .reply-list > ul > li > .update-reply > textarea {
	margin: 3px;
	width: 95%;
	resize: none;
}
.reply-box > .reply-list-box > .reply-list > ul > .reply-buttons {
	display: flex;
	justify-content: flex-end;
}
/* 홈화면 최근 게시물 리스트 */
.lastest-article-list-box {
	background-color: black;
	background: rgba(0, 0, 0, 0);
	display: block;
	width: 40%;
	position: absolute;
	top: 10%;
	left: 40%;
	transform: translateX(-50%);
	border-radius: 10px;
}

.lastest-article-list-box .total-article-box1 {
	background-color: black;
	background: rgba(0, 0, 0, 0.75);
	padding: 15px;
	border-radius: 10px;
}

.lastest-article-list-box .total-article-box1>.total-article-box2 {
	background-color: black;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	border-radius: 10px;
}

.lastest-article-list-box .total-article-box1>.total-article-box2>span {
	display: block;
	color: white;
	font-size: 2rem;
	padding: 5px;
	font-family: 'Sunflower', sans-serif;
}

.lastest-article-list-box .total-article-box1>.total-article-box2>span>i
	{
	color: red;
	padding: 5px;
	font-size: 2.5rem;
}

.lastest-article-list-box .article-list-body {
	background-color: black;
	background: rgba(0, 0, 0, 0.75);
	height: 552px;
	width: 100%;
	border-radius: 10px;
}

.lastest-article-list-box .article-list-body li {
	display: flex;
	width: 100%;
	background-color: black;
	background: rgba(0, 0, 0, 0);
}

.lastest-article-list-box .article-list-body li:hover {
	background-color: black;
	background: rgba(0, 0, 0, 0.8);
}

.lastest-article-list-box .article-list-body li>div {
	padding: 5px;
	color: white;
}

.lastest-article-list-box .article-list-body li>div:first-child {
	width: 2.5%;
	text-align: center;
	color: orangered;
	font-size: 1.6rem;
}

.lastest-article-list-box .article-list-body li>div:nth-child(2) {
	width: 2.5%;
	text-align: center;
	padding: 10px;
	font-size: 1.2rem;
}

.lastest-article-list-box .article-list-body li>div:nth-child(3) {
	width: 20%;
	text-align: center;
	padding: 10px;
	font-size: 1.3rem;
	font-family: 'Sunflower', sans-serif;
}

.lastest-article-list-box .article-list-body li>div:nth-child(4) {
	width: 50%;
	padding: 10px;
	font-size: 1.3rem;
	font-family: 'Sunflower', sans-serif;
	overflow: hidden; /* : 넓이가 70px를 넒어서는 내용에 대해서는 보이지 않게 처리함 */
	text-overflow: ellipsis; /* 글자가 넓이 70px를 넘을 경우 생략부호를 표시함 */
	white-space: nowrap;
}

.lastest-article-list-box .article-list-body li>div:last-child {
	text-align: center;
	width: 25%;
	padding: 10px;
	font-size: 1rem;
	overflow: hidden; /* : 넓이가 70px를 넒어서는 내용에 대해서는 보이지 않게 처리함 */
	text-overflow: ellipsis; /* 글자가 넓이 70px를 넘을 경우 생략부호를 표시함 */
	white-space: nowrap;
}

/* 메인화면 오른쪽 */
.main-right {
	border-radius: 10px;
	barckground-color: black;
	background: rgba(0, 0, 0, 0.8);
	position: absolute;
	display: block;
	width: 25%;
	height: 643px;
	top: 10%;
	left: 75%;
	transform: translateX(-50%);
}


/* 어바웃 미 */
.aboutme-box .con>img {
	background-color: black;
	display: block;
	position: absolute;
	top: 15%;
	left: 40%;
	transform: translateX(-50%);
	border-radius: 10px;
}

.aboutme-box .con>.aboutme-body {
	background-color: black;
	background: rgba(0, 0, 0, 0.8);
	display: block;
	width: 300px;;
	height: 640px;
	position: absolute;
	top: 15%;
	left: 70%;
	transform: translateX(-50%);
	color: white;
	font-size: 1.5rem;
	font-family: 'Sunflower', sans-serif;
	padding: 20px;
	border-radius: 10px;
}

.aboutme-box .con>.aboutme-body>span {
	display: block;
	padding: 15px;
}

/* 시계 */
.clock {
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	background-color: black;
	background: rgba(0, 0, 0, 0.75);
	border-radius: 20px;
	width: 200px;
	height: 55px;
	line-height: 50px;
	color: #E0ECF8;
	font-size: 2rem;
	text-align: center;
}

/* 글 작성하기 */
.doWrite-box>.con {
	background-color: black;
	background: rgba(0, 0, 0, 0.5);
	display: block;
	width: 60%;
	height: 830px;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 10px;
}

.doWrite-box>.con>.doWrite-title {
	display: block;
	margin: 20px;
	padding: 15px;
	background-color: black;
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
	border-radius: 10px;
}

.doWrite-box>.con>.doWrite-title>h1 {
	color: white;
	font-family: 'Sunflower', sans-serif;
}

.doWrite-box>.con>.doWrite-body {
	display: block;
	margin: 20px;
	padding: 15px;
	background-color: black;
	background: rgba(0, 0, 0, 0.5);
	heigth: 700px;
	border-radius: 10px;
}

.doWrite-box>.con>.doWrite-body > form > div > span {
	color: white;
	font-family: 'Sunflower', sans-serif;
	font-size: 1.5rem;
	text-align: center;
}

.doWrite-box>.con>.doWrite-body>.input-article>.inputs {
	display: block;
	background-color: black;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	padding: 8px;
	border-radius: 10px;
}

.doWrite-box>.con>.doWrite-body>.input-article>.select-cateItem>select {
	margin-left: auto;
	margin-right: auto;
}

.doWrite-box>.con>.doWrite-body>.input-article>.input-title>input {
	width: 600px;
	height: 30px;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
}

.doWrite-box>.con>.doWrite-body>.input-article>.input-body > div {
	width: 800px;
	height: 500px;
	color: black;
	margin-left: auto;
	margin-right: auto;
}

.doWrite-box>.con>.doWrite-body>.input-article>.submit {
	display: block;
	padding: 8px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}

/* 회원가입 */
.join-box>.con {
	background-color: black;
	background: rgba(0, 0, 0, 0.5);
	display: block;
	width: 40%;
	height: 550px;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 10px;
}

.join-box>.con>.join-title {
	text-align: center;
	font-family: 'Sunflower', sans-serif;
	color: white;
	background-color: black;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	display: block;
	margin: 20px;
	padding: 15px;
}

.join-box>.con>.join-body {
	display: flex;
	justify-content: center;
	margin: 0 30px;
}

.join-box>.con>.join-body>.member-join {
	width: 75%;
}

.join-box>.con>.join-body>.member-join>div {
	display: block;
	background-color: black;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	padding: 15px;
	border-radius: 10px;
}

.join-box>.con>.join-body>.member-join>div>span {
	color: white;
	font-family: 'Sunflower', sans-serif;
	font-size: 1.5rem;
	margin-left: 0;
	margin-right: auto;
}

.join-box>.con>.join-body>.member-join>div>input {
	width: 200px;
	height: 30px;
	font-size: 20px;
	margin-left: auto;
	margin-right: 0;
}

.join-box>.con>.join-body>.member-join>.submit {
	display: block;
	padding: 8px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}

/* 로그인 화면 */
.login-box>.con {
	background-color: black;
	background: rgba(0, 0, 0, 0.5);
	display: block;
	width: 40%;
	height: 350px;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 10px;
}

.login-box>.con>.login-title {
	text-align: center;
	font-family: 'Sunflower', sans-serif;
	color: white;
	background-color: black;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	display: block;
	margin: 20px;
	padding: 15px;
}

.login-box>.con>.login-body {
	display: flex;
	justify-content: center;
	margin: 0 30px;
}

.login-box>.con>.login-body>.member-login {
	width: 75%;
}

.login-box>.con>.login-body>.member-login>div {
	display: block;
	background-color: black;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	padding: 15px;
	border-radius: 10px;
}

.login-box>.con>.login-body>.member-login>div>span {
	color: white;
	font-family: 'Sunflower', sans-serif;
	font-size: 1.5rem;
	margin-left: 0;
	margin-right: auto;
}

.login-box>.con>.login-body>.member-login>div>input {
	width: 200px;
	height: 30px;
	font-size: 20px;
	margin-left: auto;
	margin-right: 0;
}

.login-box>.con>.login-body>.member-login>.submit {
	display: block;
	padding: 8px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}

/* 채팅박스 */
.main-right > .chatting {
	padding: 10px;
	color: white;
}
.main-right > .chatting > .chatting-box {
	color: white;
}

.main-right > .chatting > .chatting-box  {
	padding: 15px;
	font-size: 1rem;
	font-family: 'Sunflower', sans-serif;
	overflow-x: auto;
	height: 500px;
	color: white;
}

.main-right > .chatting > .chatting-box .chatList {
	display: flex;
	flex-wrap: wrap;
}
.main-right > .chatting > .chatting-box .chatList .nick {
	width: 45%;
}
.main-right > .chatting > .chatting-box .chatList .time {
	width: 45%;
}
.main-right > .chatting > .chatting-box .chatList .body {
	width: 95%;
	padding: 5px;
}
.main-right > .chatting > .chatting-box > form {
	position: absolute;
	bottom: 2%;
	width: 95%;
	display: flex;
}
.main-right > .chatting > .chatting-box > form > textarea {
	resize: none;
	height: 50px;
	width: 84%;
}
.main-right > .chatting > .chatting-box > form > .submit {
	height: 50px;
	margin: 5px;
}
